.contactBlock{
    text-align: start;
    border-bottom:  1px solid #333 ;
    width: 90%;
    margin: auto;

}
.editBlock{
    width:90%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:3px;
}

.editInput{
    border: none;
    margin: 10px 5px;
    font-size: 20px;
}

.editInput:focus{
    outline: none;
}